.topnav{
    background-size: cover;
    background-image: url(../img/blackback.jpg);
    font-family: 'Pacifico', cursive;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    
}
#text{
    color: rgb(251, 215, 10);
    size: 12px;
}

#title{
    
    font-family: 'Pacifico', cursive;
    background-size: cover;
    text-align: center;
   
    color: rgb(253, 253, 253);
    text-decoration: wavy;
}
body{
    background-image: url(../img/4311143-elegance-plant-wiht-gold-leaves-on-the-black-background.jpg   );
    background-size: cover;
    text-align: center;
    margin:0;
}
.jumbotron{
    background-color: rgb(204, 155, 92);
    width: 900px;
   text-align: center;
   position: relative;
   left: 170px;
    top: 40px;
    font-family: 'Pacifico', cursive;
}