.topnav{
    background-size: cover;
    background-image: url(../img/blackback.jpg);
    font-family: 'Pacifico', cursive;
    padding: 20px;
    font-size: 32px;
    font-style: italic;
    
}
#text{
    color:rgb(251, 215, 10);
    size: 12px;
}

#history{
    
    font-family: 'Pacifico', cursive;
    background-size: cover;
    text-align: center;
   
    color: rgb(138, 68, 68);
    text-decoration: wavy;
}
body{
    background-image: url(../img/finetea.jpg  );
    background-size: cover;
    text-align: center;
    margin:0;
}
.jumbotron{
    background-color: rgb(197, 168, 88);
    width: 900px;
   text-align: center;
   position: relative;
   left: 170px;
    top: 40px;
    font-family: 'Pacifico', cursive;
    
}